/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #111;
}

/* Topbar */
.topbar {
  background: #111;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.top-buttons button {
  background: #e60000;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.lang-btn {
  background: #e60000;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #111;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background: #e60000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid #e60000;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #e60000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #e60000;
}

.cart-btn {
  background: #e60000;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.glow-text {
  font-size: 36px;
  text-shadow: 0 0 10px #e60000, 0 0 20px #ff3333;
}

.slogan {
  font-size: 20px;
  margin-top: 10px;
}

/* Education */
.education {
  padding: 40px 20px;
}

.video-container {
  text-align: center;
  margin: 20px 0;
}

video {
  width: 80%;
  border: 3px solid #e60000;
  border-radius: 10px;
}

.edu-text {
  margin-top: 20px;
}
